streamlit
langchain-community
langchain-google-genai==3.2.0
google-genai
python-dotenv
numpy

faiss-cpu # or faiss-gpu if deploying to a GPU environment

google-generativeai

pydantic==2.12.3
